<%- include('blocks/header', {bot, user, path}) %>
<div class="container">
  <h2>We use our own API's. Want to use them for your bot? Read Below!</h2>
    <div class="card-columns">
        <div class="card">
          <h3 class="card-header">Dog API</h3>
          <div class="card-block">
            <p class="card-text">20k Dog images</p>
            <h6 class="card-subtitle text-muted">API URL (http): http://imgapi.danbot.xyz:2999<br /></h6>
            <h6 class="card-subtitle text-muted">API URL (https): https://imgapi.danbot.xyz:3000<br /></h6>
          </div>
        </div>
    </div>
<% include ./blocks/footer %>