<%- include('blocks/header', {bot, user, path}) %>
<div class="card-columns">
    <div class="card">
        <h5 class="card-header">ğ“­ğ“ªğ“·ğ“²ğ“®ğ“µğ“¹ğ“¶ğ“¬#1337</h5>
        <div class="card-block">
          <h7 class="card-subtitle text-muted">Roles: <B>Founder, Dev, Discord Staff, Support Team</B><br /></h7>
          <h7 class="card-subtitle text-muted">Story: <B> </B><br /></h7>
        </div>
    </div>
      <div class="card">
        <h5 class="card-header">Hadi1010#4189</h5>
        <div class="card-block">
          <h7 class="card-subtitle text-muted">Roles: <B>Dev, Discord Staff, Support Team, Plans Ideas</B><br /></h7>
          <h7 class="card-subtitle text-muted">Story: <B> </B><br /></h7>
        </div>
    </div>
      <div class="card">
        <h5 class="card-header">Leow#0420</h5>
        <div class="card-block">
          <h7 class="card-subtitle text-muted">Roles: <B>Dev, Support Team</B><br /></h7>
          <h7 class="card-subtitle text-muted">Story: <B> </B><br /></h7>
        </div>
      </div>
</div>
      
<div class="card-columns">
  <div class="card">
      <h5 class="card-header">DanIsLit#0027</h5>
        <div class="card-block">
          <h7 class="card-subtitle text-muted">Roles: <B>Dev</B><br /></h7>
          <h7 class="card-subtitle text-muted">Story: <B> </B><br /></h7>
        </div>
  </div>
  <div class="card">
      <h5 class="card-header">Stealthwarlord#0001 </h5>
        <div class="card-block">
          <h7 class="card-subtitle text-muted">Roles: <B>Discord Staff, Plans Ideas</B><br /></h7>
          <h7 class="card-subtitle text-muted">Story: <B> </B><br /></h7>
        </div>
  </div>
  <div class="card">
      <h5 class="card-header">Awesomeguy584#3791</h5>
        <div class="card-block">
          <h7 class="card-subtitle text-muted">Roles: <B>Discord Staff, Dev, Support Team</B><br /></h7>
          <h7 class="card-subtitle text-muted">Story: <B> </B><br /></h7>
        </div>
  </div>
</div>


<h5> Staff Applications are now open! Press <a href="https://docs.google.com/forms/d/14NiwjFz1NhryBGljqZsR5u-EA_-Bd2sdiL_UbiH_2Yg/viewform?edit_requested=true"><B> HERE </B></a> to apply.</h5>
      

<% include ./blocks/footer %>
