<%- include('blocks/header', {bot, user, path}) %>
<div class="container">
  <div class="jumbotron">
    <div>
      <h3 class="text">Want a application version of the website?</h3>
      <div class="card-columns">
        <div class="card">
            <h3 class="card-header">Android:</h3>
            <div class="card-block">
              <h10 class="card-subtitle text-muted">Last updated: Sun 23 Dec 18:57:52 GMT 2018<br /><a href="https://cdn.danbot.xyz/Downloads/DanBot-Dashboard.apk">Download</a></h10>
            </div>
          </div>
          <div class="card">
            <h3 class="card-header">Windows:</h3>
            <div class="card-block">
              <h10 class="card-subtitle text-muted">Last updated: <br /><a href="#ComingSoon">Download</a></h10>
            </div>
          </div>
        </div>
    </div>
  </div>
<% include ./blocks/footer %>